

.content-wrapper>.content {
 /* background: #FBFBFD;*/
 
}

.info-box .form-group {
    margin-bottom: 0px;
}

.info-box p {
    width: 100%;
    white-space: break-spaces;
    line-height: 1.2;
}

.info-box row {
    display: block;
}

.info-box h4 {
    font-size: 20px;
    margin-bottom:5px;
}

.info-box {
   padding: 5px;
}

.info-box .progress-group {
  margin-bottom: 0px;
}

.info-box .progress {
  background-color: rgba(0,0,0,.125);
  height: 19px;
  margin: 5px 0;
}

.rank-list-item .info-box {
  margin-bottom: 0;
  adding: 0.5rem;
}

.rank-list-item > .col-sm-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.default-sortable .rank-list-item {
    border-radius: 3px;
    display: block;
    /*padding: 10px 8px 10px 8px !important;*/
    padding: 0px 0px 0px 0px !important;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    overflow: hidden;
}

.default-sortable.rank-list-container {
    flex: 1 0 200px;
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-flow: column nowrap;
    max-height: 80vh;
    overflow-y: scroll;
}

.rank-list-container p {
  margin-bottom: 0;
  margin-top:0;
}


.day-bucket {
  height: 800px;
  
}


/* Plotly glow of % figure inside pie chart */
.js-plotly-plot .plotly .cursor-pointer {
    cursor: pointer;
    text-shadow: 0 0 4px #fff;
}



/* BS Colors */

.badge-info {
    color: #6c757d;
    background-color: #6c757d3d;

}

.badge-secondary {
    color: #007bff;
    background-color: #007bff47;
}


.badge {
    margin: 0px 3px 0px 3px;
}

.stripes {
  background: repeating-linear-gradient(
  145deg,
  #6c757d3d 1px,
  #6c757d10 2px,
  #6c757d10 11px,
  #6c757d3d 12px,
  #6c757d3d 20px 
  );
}

.stripes p {

    /* position: relative; */
    /* top: 20px; */
    /* left: 20px; */
    font-size: 16px;
    font-weight: 900;
    color: #f8f9fa;
    text-shadow: 0 0 5px #6c757d;
    /* text-align: center; */
    /* width: 100%; */
    /* vertical-align: middle; */
    /* height: 100%; */
    margin: 0;
    display: inline-block;
    vertical-align: middle;
   /*  position: absolute; */
    text-align: center;
   /*  top: 50%; */
   /*  left: 50%; */
  /*   -ms-transform: translate(-50%, -50%); */
  /*   transform: translate(-50%, -50%); */
}
